body{
    margin:0;
    background-color: white;
    padding:0;
    height: 100%;
    width: 100%;
}
.conteiner{
    height 100px;
    width 100%;
    background-color: rgb(164, 167, 171);
}
.logo{
    height: 50px;
    width:50px;
    padding-left: 100px;

}  
    ul{
        list-style-type: none;
        float: right;
        margin-top: 8px;
        padding: 20px;
    }
    li{
        display: inline-block;
        padding-right: 30px;
    }
    
    a{
        padding:20px;
        font-weight: 200;
text-decoration: none;
color: black;
    }
    .myphoto{
        height: 100px;
        width: 100px;
        border-radius: 100%;
        padding: 50px;
    }
.about{
display: flex;
align-items: center;
align-content: center;
gap: 50px;
margin-top: 15px;
padding-left: 15px;
padding-right: 15px;
}
p{
    padding:50px;
}

.banner{
    display: flex;
padding: 50px;
    height: 200px;
    width:1000px;
    object-fit: cover;
}
.flowers{
    width: 200px;
    height: 150px;
    padding: 50px;
}
.images{
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
}

@media (min-width: 576px)
{
    .images .about .banner{
        flex-direction: row;
    }
}
@media(min-width: 768px)

{
    .images{
        justify-content: center;
    }

}



